.searchBox {
  width: 85%;
  margin: -40px auto 0;
  padding: 25px;
  border-radius: 16px !important;
  position: relative;
  z-index: 10;
}

@media (max-width:768px){

.searchBox{
    width:92%;
    padding:20px;
}

}

@media (max-width:480px){

.searchBox{
    width:95%;
    padding:16px;
}

}